<footer>
	<div class="footer-container">


		<nav class="nav-row">
			<ul>
				<li>
					<a href="/">Accueil</a>
				</li>
				<li>
					<a href="contacts">Nous contacter</a>
				</li>
				<li></li>

			</ul>

		</nav>
	</div>
	<div class="bottom-footer">
		<p>&copy; 2023 My Company. All rights reserved.</p>
	</div>
</footer>


{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/footer.css') }}">
{% endblock %}
